@use "../abstract/function";
@use "../abstract/mixins";
@use "../abstract/variables";

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  background-color: variables.$primary-bg-color;
  &__brand{
    font-size: 36px;
    color: function.set-text-color(variables.$primary-bg-color);
  }
}
.nav-menu{
  display: none;
  list-style: none;
  align-items: center;
  &__item{
    padding:  10px 20px;
  }
  &__link{
    color: function.set-text-color(variables.$primary-bg-color);
  }
}
@include mixins.media-sm{
  .nav-menu{
    display: flex;
  }
}